.primary-nav {
  // border-top: solid 1px #e6f6ea;
  background-color: var(--masthead-bg-alt);
  padding-inline: calc((100% - 1224px) / 2);
  font-size: 18px;
  background: linear-gradient(to right, #1f1e20, #403f41 45%, #1f1e20) #1f1e20;
}

.primary-nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.primary-nav li {
  list-style-type: none;
  /* border-top-left-radius: 4px;
  border-top-right-radius: 4px; */
}

.primary-nav li a {
  color: white;
  text-decoration: none;
  opacity: 0.9;
  padding: 16px 24px;
  display: inline-block;
  transition: all 0.3s;
}

.primary-nav li:first-of-type a {
  padding-left: 0;
}

.primary-nav li a:hover {
  opacity: 1;
}
