@import './colour-palette.scss';

// Map available colours to custom theme values
// These are the "design tokens"

:root {
  --text-colour: #{$black};
  --text-colour_alt: #{$white};

  --primary-colour: #{$green-600};
  --secondary-colour: #{$green-600};
  --tertiary-colour: #{$dark-grey-800};

  --masthead-bg: var(--primary-colour);
  --masthead-bg-alt: #{$dark-grey-800};
}
