.head {
  // background-color: rgb(0, 155, 58);
  // box-shadow: 2px 2px 2px rgba(2, 2, 2, 0.12);
  z-index: 2;
  background: linear-gradient(to right, #00a84e, #11b758 45%, #00a84e) #00a84e;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }

  .icon {
    path {
      fill: #fff;
    }
    width: 32px;
    height: 32px;
  }

  .primary-nav-container {
    display: none;
  }

  .header-actions-container {
    // vertically center
    display: flex;
    align-items: center;

    // any elemenmt following a direct child needs a margin left
    > * + * {
      margin-left: 8px;
    }

    /* hacks for temporary icons */
    .icon.search {
      margin-top: 10px;
      transform: scale(1.3);
    }

    .icon.quote-list {
      margin-top: 8px;
    }

    .icon.account {
      transform: scale(0.8);
    }
  }

  /* temp */
  .logo-container img {
    border: 0;
    max-width: 100%;
    width: 80px;
    height: auto;
  }
}

@media only screen and (min-width: 957px) {
  .head {
    header {
      padding-inline: calc((100% - 1224px) / 2);
    }

    .primary-nav-container {
      position: sticky;
      top: 0;
      display: block;
    }

    .menu-toggle-container,
    .icon.search {
      display: none;
    }
  }
}
