/**
https://fonts.googleapis.com/css?family=Roboto:400,700
*/
@import './styles/theme/design-tokens.scss';
@import './styles/fonts/index.scss';

a.link {
  color: #006522;
  font-weight: bold;
}

body {
  scroll-behavior: smooth;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.57;
  margin: 0;
  background-color: #f2f2f2;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

article {
  flex: 1;
}

.breadcrumbs-container {
  padding-inline: calc((100% - 1224px) / 2);
}

section {
  position: relative;
  padding-inline: calc((100% - 1224px) / 2);
  padding-block: 80px;

  .button {
    padding: 18px 36px;
    background-color: #b64415;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: lighter;
    border: none;
    margin: 0 auto;
    letter-spacing: 2px;
  }
}
section:first-of-type {
  padding-block: 0;
  padding-bottom: 40px;
}

section:nth-child(odd) {
  background-color: #fff;
}

section:nth-child(even) {
  background-color: #f2f2f2;
}

section p {
  max-width: 65ch;
}

section h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 80px;
  font-size: 32px;

  position: relative;
}

section h2,
section h3 {
  font-weight: normal;
  letter-spacing: 2px;
}

section:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top: 24px solid #f2f2f2;
  position: absolute;
  bottom: -24px;
  left: 50%;
  z-index: 2;
}

section:nth-child(odd):after {
  border-top: 24px solid #fff;
}

// last one doesn't have the down arrow
section:last-of-type:after {
  border-top: none;
}
