footer {
  color: white;

  .menu {
    min-width: 180px;
  }
}

footer h1,
footer h2,
footer h3,
footer h4 {
  font-weight: 100 !important;
}

footer a,
footer h3 {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #f77946;
  text-decoration: underline;
}

nav a {
  font-weight: 100 !important;
}

.subscription-block {
  padding-inline: calc((100% - 1224px) / 2);
  padding-block: 1rem;
  background-color: #1f1e20;
  color: #f77946;
  min-height: 300px;
}

.main {
  min-height: 200px;
  padding-inline: calc((100% - 1224px) / 2);
  background-color: #403f41;
  padding-top: 2rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
}

.main > * + * {
  margin-left: 48px;
  flex-grow: 1;
}

.alt {
  font-size: 80%;
  background-color: #1f1e20;
  min-height: 60px;
  padding-inline: calc((100% - 1224px) / 2);
  padding-block: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.alt > :nth-child(2) {
  text-align: right;
}

address {
  font-style: normal;
}

// temp, to test with lighthouse - leaving the desktop
// layout will mean the footer items flx off screen, which affects a11y score.
@media only screen and (min-width: 957px) {
  footer {
    .main {
      flex-direction: row;
    }
  }
}
