input {
  padding: 4px 12px;
  height: 28px;
  font-size: 18px;
  border: 0;
  min-width: 180px;
  background-color: #006522;
  border-bottom: solid 1px #006522;
  border-radius: 4px;
  outline: none;
  color: #fff;
}

input::placeholder {
  color: white;
  opacity: 0.75;
}
